In [1]:
import numpy as np
# import operator
import pandas as pd # Для работы с данными
# import scipy.stats # При работе со статистикой
# import matplotlib.pyplot as plt  # Библиотека для визуализации результатов
%matplotlib inline

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC

In [4]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [6]:
# params = data[['age','workclass','educational-num','marital-status','occupation', 'race', 'gender', 'native-country', 'income']]
params = data[['age','workclass','educational-num','marital-status','occupation']]

In [7]:
X = pd.get_dummies (params, columns = ['workclass','educational-num','marital-status','occupation'])
X.head()

,age,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,25,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,38,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,28,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,44,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,18,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
le = LabelEncoder()
# le.fit_transform( data['income'])

In [9]:
y = pd.Series (data = le.fit_transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=5000))
model = LogisticRegression()

In [12]:
model.fit(X_train, y_train)
# model.predict_proba(X_test)

C:\Users\Administrator\Anaconda3\envs\netology\lib\site-packages\sklearn\linear_model\_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([[0.97275057, 0.02724943],
       [0.76995841, 0.23004159],
       [0.74225364, 0.25774636],
       ...,
       [0.95214852, 0.04785148],
       [0.58645921, 0.41354079],
       [0.95998457, 0.04001543]])

In [13]:
model.score(X_train, y_train)

0.827663868495715

In [14]:
model.score(X_test,y_test)

0.8377806592506654

In [15]:
model = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='auto', kernel='rbf', max_iter=-1, probability=False,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [16]:
model.score(X_train, y_train)

0.8349469127497148

In [17]:
model.score(X_test, y_test)

0.8405104756705112